.App {
  height: 100%;
}

.dashboard {
  height: 100%;
}

.dashboard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://images4.alphacoders.com/692/thumb-1920-692043.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  opacity: 0.8;
  z-index: -1;
}

.primary-view {
  padding-top: 9rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  height: 80%;
}

@media only screen and (max-width: 900px) {
  .primary-view {
    padding: 10.5rem 1rem 2rem 1rem;
    height: auto;
    background-color: var(--black);
  }

  .primary-view h1 {
    color: var(--action);
  }
}

.primary-actions  {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  text-transform: uppercase;
}

.primary-actions h1 {
  font-size: 3.5rem;
}

.primary-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  height: 65%;
  width: 90%;
}