@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

/* variables */

:root {
  --action: #deb76a;
  --white: #ffffff;
  --black: #000000;
  --danger: #f15e5e;
  --mainText: "Rubik", sans-serif;
}

/* presets */

html,
div {
  font-size: 1.2rem;
  font-family: var(--mainText);
}

h2 {
  font-size: 2rem;
}

html,
body {
  height: 100vh;
}

#root {
  height: 100%;
}

/* elements */

button {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 5px;
  display: inline-block;
  padding: 1rem 2.3rem;
  margin: 0;
  text-decoration: none;
  color: var(--black);
  background: var(--action);
  border: 0.5px solid var(--action);
  font-family: inherit;
  line-height: 1.4rem;
  cursor: pointer;
  text-align: center;
  letter-spacing: 2px;
}

input,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0.625rem;
  resize: vertical;
  border: 0;
  border: 1px solid var(--black);
  outline: none;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  border: 3px solid var(--action);
}

textarea {
  min-height: 10rem;
}

button:hover,
button:active {
  color: var(--action);
  background: var(--black);
  transition: all 0.3s ease;
}

.btn-danger {
  background: var(--danger);
  border: 0.5px solid var(--danger);
}

.btn-danger:hover,
.btn-danger:active {
  background: var(--black);
  color: var(--danger);
}

.SuccessModal {
  position: fixed;
  top: 5%;
  background-color: var(--white);
  width: 35rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 2px;
  z-index: 3000;
}

.SuccessModal img {
  width: 4rem;
  height: 4rem;
}
