@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* variables */

:root {
  --main-bg-color: #DEB76A;
	--white: #ffffff;
	--black: #000000;

	--mainText: 'Rubik', sans-serif;
}

/* presets */

html, div {
	font-size: 1.2rem;
	font-family: var(--mainText);
}

h2 {
	font-size: 2rem;
}

html, body {
	height: 100vh;
}

#root {
	height: 100%;
}

/* elements */

.SuccessModal {
	position: fixed;
	top: 5%;
	background-color: var(--white);
	width: 35rem;
	height: 7rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 2px;
}

.SuccessModal img {
	width: 4rem;
	height: 4rem;
}
