.NavBar {
  width: 100%;
  position: fixed;
  background-color: var(--action);
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
  z-index: 100;
}

img {
  height: 100%;
  transition: 1s;
}

.NavBar:hover {
  height: 12rem;
}


