.readView {
  padding-top: 9rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  height: 80%;
}

@media only screen and (max-width: 900px) {
  .readView {
    padding: 10.5rem 1rem 2rem 1rem;
    height: auto;
    background-color: var(--black);
  }
}

.readActions {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  text-transform: uppercase;
}

.readActions h1 {
  color: var(--action)
}

.readActions button {
  margin: 0 2rem;
}

.AdList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  height: 65%;
  width: 90%;
}

.Ad {
  background-color: var(--white);
  height: auto;
  width: 32rem;
  height: 42rem;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  z-index: 1;
  position: relative;
  cursor: pointer;
}

.Ad div, .Ad p {
  font-family: Helvetica,Arial,sans-serif;
}

.Ad header {
  padding: 1.2rem 1.2rem 0.6rem;
}

.Ad header > :first-child {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Ad header img {
  height: 3.8rem;
  width: 3.8rem;
  border-radius: 100%;
}

.Ad header .text-top {
  padding-bottom: 0.8rem;
}

.Ad header .text-top > :first-child {
  color: #1d2129;
  font-weight: 700;
  line-height: 1.7rem;
  margin-bottom: 0;
  font-size: 1.4rem;
}

.Ad header .text-top > :last-child {
  color: #999;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
}

.Ad header .text-bottom {
  margin: 0.6rem 0 0.9rem 0;
}

.ad-image {
  height: 17rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow:visible;
  background-color: var(--black);
}

.fb-cta {
  background-color: #f0f2f5;
  padding: 1.2rem 1.2rem 0.6rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 8rem;
}

.fb-cta .headline {
  flex: 2;
  padding-right: 0.5rem;
  max-width: 20rem;
}

.fb-cta .headline div {
  padding: 0.2rem 0 0.2rem 0;
  overflow: hidden;
}

.fb-cta .headline > :first-child {
  color: #65676b;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.6rem;
  margin: -4px 0 -3px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.fb-cta .headline > :nth-child(2) {
  color: #1c2028;
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  margin: 0;
}

.fb-cta .headline > :last-child {
  color: #464950;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  max-height: 3rem;
  max-width: 30rem;
  word-break: break-all;
  text-overflow: ellipsis;
}

.fb-cta button {
  align-items: flex-start;
  -webkit-appearance: none;
  background: none;
  background-color: transparent;
  border: 1px solid #444950;
  border-radius: 4px;
  color: #444950;
  display: inline-block;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 24px;
  letter-spacing: normal;
  line-height: 16px;
  margin: 0;
  padding: 3px 8px;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
}

.fb-actions {
  border-top: 1px solid #ced0d4;
  margin: 20px 10px 0;
  display: flex;
  padding: 0.4rem;
}

.fb-actions button {
  align-items: center;
  display: flex;
  flex: 1 100%;
  font-weight: 700;
  height: 3.2rem;
  justify-content: center;
  padding: 0 0.2rem;
  color: rgb(118, 118, 118);
  background-color: transparent;
  border-style: none;
}

.fb-actions button::before {
  background-image: url(https://admockups.com/images/facebook-icons.png);
  background-repeat: no-repeat;
  background-size: auto;
  content: "";
  display: block;
  height: 1.8rem;
  min-width: 1.8rem;
  width: 1.8rem;
  margin-right: 0.5rem;
}

.fb-actions .like::before {
  background-position: -9.4rem -14.9rem;
}

.fb-actions .comment::before {
  background-position: -46.5rem -12.7rem;
}

.fb-actions .share::before {
  background-position: -22.7rem -14.9rem;
}

.Ad .btn-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .5s ease;
  z-index: 100;
  text-align:center;
  opacity: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.Ad .btn-container:hover {
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
}